<%
  cb = @game.current_bet + 10
  player = @game.current_player
%>
<ul class='player-actions-list'>
  <% @game.cp_actions.each do |n, h| %>
    <%
      k = h.keys.first
      v = h.values.first
    %>
    <li>
      <% if v < 0 %>
        <i><%= n %></i>
      <% elsif v == 0 %>
        <%= button_to n,
          player_action_game_path(@game.db_id, player_action: k) %>
      <% elsif k == :call %>
        <%= button_to "#{n} #{fmt_money(v)} to #{fmt_money(v + @game.pot)}",
          player_action_game_path(@game.db_id, player_action: :call) %>
      <% else %>
        <%= button_to "#{n} #{fmt_money(v)} to #{fmt_money(v + @game.pot)}",
          player_action_game_path(@game.db_id, player_action: :bet, amount: v) %>
      <% end %>
    </li>
  <% end %>
  <!--
  <li>
    <%=button_to 'Next Hand', next_hand_game_path(@game.db_id) %>
  </li>
  -->
  <li>
    <%=button_to 'Reset!', reset_games_path %>
  </li>
</ul>
