<%
  titles, _ = @game.get_titles(player_idx)
  p = @game.players[player_idx]
%>
<table>
  <tr valign="top">
    <td>
      <%= player_image(p) %>
    </td>
    <td>
      <%= titles.join(' ') %>
      <%= p.name %>
      <br/>Seat #<%= p.seat %>
      <% if p.folded %>
        <br/>
        FOLDED: <%= show_txt_cards(p.hole_cards) %>
      <% else %>
        <br/><%= fmt_money(p.stack) %>
        <% unless (pbh = player_best_hand(p)).blank? %>
          <br/><%= pbh %>
        <% end %>
        <br/><%= player_hand_rank(p) %>
        <% if p.last_action.present? %>
          <br/><i><%=p.last_action%></i>
        <% end %>
        <% if p.current_bet %>
          <br/>
          Bet: <%=fmt_money(p.current_bet)%>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>
