<%
  titles, _ = @game.get_titles(player_idx)
  p = @game.players[player_idx]
%>
<ul class='player-deets-list'>
  <li><%= titles.join(' ') %><%= p.name %></li>
  <% if p.folded %>
    <li>FOLDED: <%= show_txt_cards(p.hole_cards) %></li>
  <% else %>
    <li><%= fmt_money(p.stack) %></li>
    <% if p.last_action.present? %>
      <li><i><%=p.last_action%></i></li>
    <% end %>
  <% end %>
</ul>
