<table>
  <tr valign="bottom">
    <td>&nbsp;</td>
    <td><%= player(0) %></td>
    <td><%= player(1) %></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><%= player(5) %></td>
    <td colspan=2>
      <div class='table'>
        <% @game.community_cards.each do |c| %>
          <%= large_card(c) %>
        <% end %>
        <% (5 - @game.community_cards.size).times do %>
          <%= large_back_card %>
        <% end %>
        <br/>
        <b><%=@game.stage%></b>
        Pot: <%= number_to_currency(@game.pot) %>
        <br/>
        <i><%= @game.last_player_action %></i>
      </div>
    </td>
    <td><%= player(2) %></td>
  </tr>
  <tr valign="top">
    <td>&nbsp;</td>
    <td><%= player(4) %></td>
    <td><%= player(3) %></td>
    <td>&nbsp;</td>
  </tr>
</table>
