<style>
  .player-div {
    padding: 15px;
    border: solid 2px black;
    border-radius: 10%;
    height: 200px;
    width: 200px;
  }
  .current {
    border: solid 4px green;
    background-color: #EAFAF1;
    border-radius: 10%;
  }
  .folded {
    background-color: #D3D3D3;
  }
  .game {
    margin: 0;
    transform: scale(0.75);
    transform-origin: top left;
  }
  .table {
    padding: 30px;
    margin: 10px;
    border: solid 2px black;
    border-radius: 10%;
  }
</style>

<h1><%=link_to "#{Poker::BAKA} Poker", games_path %></h1>
<hr/>

<div class='game'>
  <table>
    <tr>
      <td>
        <%= link_to 'Call', check_call_game_path(@game.db_id) %>
        <%= link_to 'Raise', raise_pot_game_path(@game.db_id) %>
        <%= link_to 'Fold', fold_game_path(@game.db_id) %>
      </td>
      <td>
        <%=link_to 'reset', reset_games_path %>
      </td>
    </tr>
    <tr valign="top">
      <td>
        <%= game_table %>
      </td>
      <td>
        <%= game_stats %>
      </td>
    </tr>
  </table>
</div>


<hr/>

<ul>
  <li>deck: <%= show_tiny_cards(@game.deck.cards) %></li>
  <li>drawn: <%= show_tiny_cards(@game.deck.drawn) %></li>
  <li>discarded: <%= show_tiny_cards(@game.deck.discarded) %></li>
</ul>
<hr/>
<%=text_area_tag :game_hand, @game.read_log, size: '100x40' %>
