<div class='game'>
  <table>
    <%= render partial: 'actions' %>
    <tr valign="top">
      <td>
        <%= game_table %>
      </td>
      <td>
        <%= game_stats %>
      </td>
    </tr>
    <%= render partial: 'actions' %>
  </table>
</div>

<hr/>
<%=text_area_tag :game_hand, @game.read_log, size: '100x40' %>

<hr/>
<p><b>Deck:</b><br/><%= show_tiny_cards(@game.deck.cards) %></p>
<p><b>Drawn:</b><br/><%= show_tiny_cards(@game.deck.drawn) %></p>
<p><b>Discarded:</b><%= show_tiny_cards(@game.deck.discarded) %></p>
