<div class='game'>
  <div class='game-home-link'>
    <%=link_to "#{Poker::BAKA} Poker", games_path %>
  </div>
  <table>
    <tr valign="top">
      <td class='game-current-player-column'>
        <h3>Current Player</h3>
        <%= player_deets(@game.current_player_idx) %>
        <h3>Actions</h3>
        <%= render partial: 'actions' %>
      </td>
      <td>
        <%= game_table %>
      </td>
      <td class='game-stats-column'>
        <%= game_stats %>
      </td>
    </tr>
  </table>
</div>

<hr/>
<%=text_area_tag :game_hand, @game.read_log, size: '100x40' %>

<hr/>
<p><b>Deck:</b><br/><%= show_tiny_cards(@game.deck.cards) %></p>
<p><b>Drawn:</b><br/><%= show_tiny_cards(@game.deck.drawn) %></p>
<p><b>Discarded:</b><%= show_tiny_cards(@game.deck.discarded) %></p>
